body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AEECF1;
}

h1,h2,h3,h4,p{
  font-family: 'Roboto', sans-serif;

}

.container { 
  background: aliceblue;
  width: 70%;
  height: 95%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "blockOne blockTwo blockThree blockFour"
    "blockFive blockSix blockSeven blockEight"
    "blockNine blockTen blockEleven blockTwelve"
    "blockThirteen blockFourteen blockFifteen blockSixteen"
    "blockSeventeen blockEighteen blockNineteen blockTwenty";
}

.blockOne { grid-area: blockOne; }

.blockTwo { grid-area: blockTwo; }

.blockThree { grid-area: blockThree; }

.blockFour { grid-area: blockFour; }

.blockFive { grid-area: blockFive; }

.blockSix { grid-area: blockSix; }

.blockSeven { grid-area: blockSeven; }

.blockEight { grid-area: blockEight; }

.blockNine { grid-area: blockNine; }

.blockTen { grid-area: blockTen; }

.blockEleven { grid-area: blockEleven; }

.blockTwelve { grid-area: blockTwelve; }

.blockThirteen { grid-area: blockThirteen; }

.blockFourteen { grid-area: blockFourteen; }

.blockFifteen { grid-area: blockFifteen; }

.blockSixteen { grid-area: blockSixteen; }

.blockSeventeen { grid-area: blockSeventeen; }

.blockEighteen { grid-area: blockEighteen; }

.blockNineteen { grid-area: blockNineteen; }

.blockTwenty { grid-area: blockTwenty; }

.container div{
  border: outset;
}


.pickPath{
  background-color: #cd5c2b;
  width: 20%;
  height: 30%;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
  border-radius: 10%;
  font-size: 24px;
    text-align: center;
    list-style: none;
    padding-top: 3%;
}
.pickPath > button{
  position: relative;

  background-color:#8b2f3b;
  border-radius: 8px;
  border-width: 1px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  height: 11%;
}

#pickSides > ul{

  list-style: none;
  /* justify-content: flex-start; */
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

button{
  padding:20px;
}

li button{
  padding: 3px;
}

#pickColor{
  position: absolute;
  display: flex;
  flex-direction: column;
}
#pickColor > p {
  font-family: 'Roboto', sans-serif;


}
#playerColorA{
  background-color:rgb(42, 255, 209);
  border-width: 13px;
}

#playerColorB{
  background-color: #ff2c2c;
  border-width: 13px;
  
}
.preSelectedHumanBox{
  border-width: 13px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}



#botChosen{
  border-width: 13px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  
/* transition: .5s ease-in-out; [0.5 seconds] */
}

#botchosen:hover{
  background-color: #ffffff; /*white*/
  transition: 3s ease-in-out;
}
.mouse-hov:hover{
  background-color: #ffffff; 
  transition: 3s ease-in-out;
  cursor: grab;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;



}

.container > div:hover{
  background-color: #ffffff; 
  transition: s ease-in-out;

}

#showWinner{
  width: 316px;
  height: 290px;
  background: bisque;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

#helpBubble{
  background-image: url("https://joyful-blini-ed3ea8.netlify.app/images/This_Is_BOX.jpg");
  object-fit: cover;
  width: 48%;
  height: 478px;
  background-repeat: no-repeat;

}
/* media query */
@media only screen and (max-width: 600px) {
  body{
    flex-direction: column-reverse;
  }
  .pickPath {
    width: 44%;
    height: 35%;
  }
  #helpBubble {
    display: none;
  }
  .container{
    height: 85%;

  }

}